{% extends "../base.html.twig" %}

{% block sections %}

<div>
	<a href="/transaction.html" class="btn btn-primary">Voeg een transactie toe</a>
	<a class="btn btn-primary">Bekijk het transactie overzicht</a>
</div>

{% endblock %}