{% extends "base.html.twig" %}

{% block sections %}
	<section class="transaction-form">
		
		<div class="well bs-component">
			{% include "components/form_transaction.html.twig" with {accounts: accounts, transactionTypes: transactionTypes} %}
		</div>
		
	</section>
{% endblock %}