/* Google Chrome Throbber [CSS] */

.throbber {
	@size: 26px;
	@thickness: 5px;
	
	display: inline-block;
 	width: @size;
 	height: @size;
	padding:0;
 	border: @thickness solid;
 	border-top-color: transparent;
 	border-left-color: transparent;
 	border-radius: 50%;
	color: @primary;
	background-color: transparent;
	.animation(throbber-keys 0.9s linear infinite);
}

@-webkit-keyframes throbber-keys {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-o-keyframes throbber-keys {
	100% {
		-o-transform: rotate(360deg);
	}
}

@keyframes throbber-keys {
	100% {
		transform: rotate(360deg);
	}
}